body {
  font-family: 'Montserrat', sans-serif;
  background-color: #111;
  margin: 0;
  padding: 0;
}

.video-fondo {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#videoFondo {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: 1;
}

.capa-oscura {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo h1 {
  margin: 0;
  font-size: 2rem;
  animation: mover-derecha 1s ease-out;
  font-family: Bodoni MT;
}

.logo img {
  width: 50px;
  height: auto;
}

.container {
  position: relative;
  z-index: 3;
  max-width: 300px;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Tabs personalizados */
.tabs {
  display: flex;
  cursor: pointer;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid transparent;
  font-weight: bold;
  color: #eaeaea;
  user-select: none;
  transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.tab.active {
  border-bottom-color: #BFA36F;
  color: #BFA36F;
}

/* Formularios */
form {
  display: none;
}

form.active {
  display: block;
}